version: '3.8'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.10.2
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
      - network.host=0.0.0.0
      - transport.host=0.0.0.0
    ports:
      - '9200:9200'
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - ims-network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.10.2
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - '5601:5601'
    depends_on:
      - elasticsearch
    networks:
      - ims-network

  monstache:
    image: rwynn/monstache:latest
    container_name: monstache
    environment:
      - MONSTACHE_ES_SNIFF=false
      - MONSTACHE_ES_HEALTHCHECK_TIMEOUT=0
    volumes:
      - ./monstache.config.toml:/data/monstache.config.toml
    command: -f /data/monstache.config.toml
    restart: always
    depends_on:
      - elasticsearch
    networks:
      - ims-network

volumes:
  es_data:

networks:
  ims-network:
    driver: bridge
